* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: fuchsia;
    font-weight: bold;
}

a {
    color: lightslategray;
    text-decoration: none;
}